Click==7.0
decorator==4.3.0
Flask==1.0.2
Flask-SQLAlchemy==2.3.2
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
pkg-resources==0.0.0
shortuuid==0.5.0
six==1.11.0
SQLAlchemy==1.2.14
validators==0.12.3
Werkzeug==0.14.1
